@font-face {
	font-family: 'Apercu';
	src: url('/fonts/Apercu/Apercu-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Apercu';
	src: url('/fonts/Apercu/Apercu-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Apercu';
	src: url('/fonts/Apercu/Apercu-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Apercu';
	src: url('/fonts/Apercu/Apercu-Bold.ttf');
	font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
	@apply flex flex-col w-full py-12 px-9;
}
.section-title {
	@apply font-bold tracking-widest uppercase text-primaryblue;
}
.section-content {
	@apply font-light py-7 pl-7;
}
.skills-list {
	column-count: 2;
}
.form-input {
	@apply px-2 py-1 mb-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-primaryblue focus:border-transparent;
}
